:root{
  --black-1: #151515;
  --black-2: #1b1b1b;
  --black-3: #272727;
  --gray-1: #c4c4c4;
  --blue-1: #3D8BFD;
  --white-1: #f6f6f6;
  --red-1: #DC3545;
}

body{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
}

a{
  color: var(--gray-1);
}

a:hover{
  color: var(--blue-1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border: 1px solid var(--gray-1);
  border-radius: 10px;
  box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
  background: var(--black-3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--black-2); 
}
button{
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.clock{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: 90vh;
}
.menu{
  margin-bottom: 40px;
}
.container{
  height: 80vh;
}
/* STOPWATCH */
/* STOPWATCH */
/* STOPWATCH */
/* STOPWATCH */
/* STOPWATCH */

.stopwatch{
  height: 100%;
  display: none;
}

.box{
  height: 100%;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stopwatch .lap-info{
  flex: 1;
  margin: 20px 0px;
  font-size: 0.5em;
  overflow-y: scroll;
}
.stopwatch table{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray-1);
}

.stopwatch tr{
  display: flex;
}
.stopwatch th{
  flex: 2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-1);
}
.stopwatch th:nth-child(1),
.stopwatch td:nth-child(1){
  flex: 1;
}
.stopwatch td{
  flex: 2;
  margin: 8px 0px;
}

.lap,
.reset{
  background-color: var(--black-1);
  color: var(--gray-1);
}
.start,
.resume{
  background-color: var(--blue-1);
  color: var(--white-1);
}
.pause{
  background-color: var(--red-1);
  color: var(--white-1);
}
.stopwatch .lap,
.stopwatch .reset,
.stopwatch .resume,
.stopwatch .pause{
  display: none;
}
/* TIMER */
/* TIMER */
/* TIMER */
/* TIMER */
/* TIMER */

.timer{
  display: none;
  height: 100%;
}

.timer .reset,
.timer .resume,
.timer .pause{
  display: none;
}
.timer .screen{
  margin-top: 50%;
}
.timer .timer-values{
  margin-top: 50%;
}
.timer .timer-values form{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timer input{
  color: var(--white-1);
  border: none;
  background-color: black;
  border: 2px solid var(--black-1);
  text-align: center;
  font-size: 1em;
  width: 100px;
  border-radius: 10px;
}
.timer input:focus{
  outline: none;
}